{% extends 'core/base.html' %}

{% block title %}
{% firstof user.get_full_name user.username %}
{% endblock %}

{% block content %}
<div class="card mx-auto rounded-4 shadow p-3 mb-5 bg-white rounded border-0" style="background-color: white; width: 95%; height: 90%; margin-bottom: 5%;  margin-top: 80px; ">
    <div class="d-flex justify-content-center align-self-center" style="margin-bottom: 5%;margin-top: 50px;">
        <img class="profile-pic shadow" src="{{ user.customer.profile_pic.url }}" width="300px" height="300px" style="border-radius: 50%;">
    </div>
    <div style="margin-left: 30px;width: 500px;">
        <p class="text-success d-flex align-items-center" style="font-size: 30px;"><i class="fa-solid fa-user"></i>&nbsp;Nume utilizator:</p>
        <p class="text-black" style="font-size: 30px;">{% firstof user.get_full_name user.username %}</p>
        <p class="text-success d-flex align-items-center" style="font-size: 30px;margin-right: 10px;"><i class="fa-solid fa-envelope"></i>&nbsp;e-mail:</p>
        <a class="text-dark" style="text-decoration: none;font-size: 30px;" href="mailto:{{user.customer.email}}">{{user.customer.email}}</a>
    </div>
    <hr>
    {% include 'store/partials/products.html' %}
    <div class="mx-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if products_list.has_previous %}
                <li class="page-item">
                    <a class="page-link text-success" href="?page1" style="text-decoration: none;">&laquo; </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success" href="?page{{ products_list.previous_page_number }}" style="text-decoration: none;">&#8249;</a>
                </li>
                {% endif %}
                {% for i in nums %}
                    <li class="page-item">
                        <a class="page-link text-success" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}

                {% if products_list.has_next %}
                <li class="page-item">
                    <a class="page-link text-success" href="?page={{ products_list.next_page_number }}" style="text-decoration: none;">&#8250;</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success" href="?page={{ products_list.paginator.num_pages }}" style="text-decoration: none;">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}