{% extends 'core/base.html' %}

{% block title %}
Carti noi
{% endblock %}

{% block content %}
  <div class="bg-lime-600" style="width: 99.1vw;height: 575px;">
    <div style="height: 100vh;width: 99.1vw;">
      {% include 'store/partials/carusel_c_n.html' %}
    </div>
  </div>
</div>
<div class="card mx-auto shadow-lg p-3 bg-gray-100 border-0" style=" width: 95%; height: 100%;">
  <h1 class="flex justify-center mx-auto text-6xl" style="font-family:'Dancing Script'">Carti noi:</h1>
  {% include 'store/partials/products.html' %}
  <div class="mx-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if products_list.has_previous %}
        <div aria-label="Page navigation example">
          <ul class="inline-flex items-center -space-x-px">
            <li class="h-[10px]">
              <a href="?page1" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <i class="fa-solid fa-angles-left"></i>
              </a>
            </li>
            <li class="h-[10px]">
              <a href="?page={{ products_list.next_page_number }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <i class="fa-solid fa-angle-left"></i>
              </a>
            </li>
            {% endif %}
            {% for i in nums %}
            <li class="h-[10px]">
                <a href="?page={{ forloop.counter }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ forloop.counter }}</a>
              </li>
            {% endfor %}
            {% if products_list.has_next %}
            <li class="h-[10px]">
              <a href="?page={{ products_list.paginator.num_pages }}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </li>
            <li class="h-[10px]">
              <a href="?page={{ products_list.paginator.num_pages }}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <i class="fa-solid fa-angles-right"></i>
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}