{% extends 'core/base.html' %}

{% block title %}
Viziune
{% endblock %}

{% block content %}
    
    <!-- <div style="margin-top: 80px; height: 80vh;">
        <div class="title text-center"><h4 align="center">Viziunea mea:</h4></div>
        <div class="text-center">
            Prin acest site imi doresc sa aduc la indemana oricui bucuria de a citi. In ziua de azi e mai usor ca oricand sa citesti datorita cartilor electronice, motiv pt care am decis sa ajutor orice cititor sa obtina acces la texte vechi sau carti care sunt in domeniul public. 
        </div>
        <div class="card mb-3 mx-auto" style="max-width: 540px; margin-top: 10%;" align="center" >
            <div class="row g-0">
              <div class="col-md-4">
                    <img src="{% if product.image %} /../../../../media/220px-Cicero.PNG {% else %} https://via.placeholder.com/240x240.jpg {% endif %}" class="img-fluid rounded-start" alt="...">
            </div>
              <div class="col-md-8">
                <div class="card-body" style="background-color: #66b2b2; border-color: #66b2b2; height: 100%;">
                  <h5 class="card-title" style="margin-top: 5%;margin-bottom: 5%;"><i>Marcus Tullius Cicero: </i></h5>
                  <p class="card-text"><b>“A room without books is like a body without a soul.”</b></p>
                </div>
              </div>
            </div>
          </div>
    </div> -->
  
    
    <div class="card mx-auto rounded-4 shadow p-3 mb-5 bg-white rounded border-0" style="background-color: white; width: 95%; height: 90%; margin-bottom: 5%;  margin-top: 80px;">
      <h5 class="card-title mx-auto" style="margin-top: 50px;"><font size="6">Viziunea noastra</font></h5>
      <div class="d-flex justify-content-around flex-wrap gap-3 align-items-center " style="margin-bottom: 5%;margin-left: 2%;margin-right: 2%; margin-top: 50px;">
        <div class="text-center mx-5 px-5" style="font-size: larger;">
          Prin acest site ne dorim sa aducem la indemana oricui bucuria de a citi. In ziua de azi e mai usor ca oricand sa citesti datorita cartilor electronice, motiv pentru care am decis sa ajutam orice cititor sa obtina acces la texte vechi sau carti care sunt in domeniul public. 
      </div>
      <div class="card mx-auto shadow  mb-5 bg-body-tertiary rounded border-0" style="max-width: 540px; margin-top: 5%;" align="center" >
          <div class="row g-0">
            <div class="col-md-4">
                  <img src="/../../../../static/images/220px-Cicero.PNG" class="img-fluid rounded-start" alt="...">
          </div>
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body ">
                <h5 class="card-title text-success"><i>Marcus Tullius Cicero: </i></h5>
                <p class="card-text"><b>“O camera fara carti este ca si un trup fara suflet.”</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}