<div class="d-flex justify-content-center flex-row flex-wrap gap-4  " style="margin-top: 50px;margin-bottom: 5%;margin-left: 2%;margin-right: 2%;">
    {% for product in products %}
        <!-- <div style="margin-bottom: -50px;"> 
            <div class="card shadow p-3 mb-5 bg-white rounded border-0 rounded-4" style="width: 400px; height: 600px;">
                <a href="{% url 'product_detail' product.category.slug product.slug %}">
                    <div class="image p-1">  
                        <img class="rounded-4" id="corner" src="{{ product.get_thumbnail }}" width="350px" height="350px" alt="Image of {{ product.title }}">
                    </div>
                </a>
                <div class="card-body " style="background-color: white;">
                    <div class="product">    
                            <a href="{% url 'product_detail'  product.category.slug product.slug %}" style="color: black; text-decoration: none;max-width: 230px;max-height: 100px;">
                            <p class="card-text text-success" align="left"><i class="fa-solid fa-user"></i>&nbsp;{{product.author}}</p>
                            <p align="left"><span class="text-success"><i class="fa-solid fa-star"></i>&nbsp;{{ product.get_rating }}/10 [{{ product.reviews.count }}]</span></p> 
                            <p class="card-text text-success" align="left"><i class="fa-solid fa-globe"></i>&nbsp;{{product.limba}}</p>
                            <p class="card-text text-success" align="left"><i class="fa-solid fa-at"></i>&nbsp;{% firstof product.user.get_full_name product.user.username %}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div style="margin-bottom: -50px;" align="center"> 
            <div class="card shadow p-3 bg-white border-0 rounded-4" style="width: 400px; height: 700px;margin-bottom: 80px;">
                <div class="image p-1" style="width: 350px; margin-left: 5px;"> 
                    <a href="{% url 'product_detail'  product.category.slug product.slug %}"> 
                        <img class="rounded-4" id="corner" src="{{ product.get_thumbnail }}" width="350px" height="350px" alt="Image of {{ product.title }}">
                    </a>
                </div>
                <div class="card-body " style="background-color: white; min-height: 280px;">
                    <div class=" product p-3">    
                        <a href="{% url 'product_detail'  product.category.slug product.slug %}" style="color: black; text-decoration: none;">
                            <div class="card-text" align="center" style="min-height: 90px;">
                                <p><strong><h5>{{ product.title }}</h5></strong></p>  
                            </div>
                        </a>
                        <div class="d-flex align-self-end">
                            <div class="d-flex me-auto justify-content-start" style="max-height: 100px;">
                                <a href="{% url 'product_detail'  product.category.slug product.slug %}" style="color: black; text-decoration: none;max-width: 230px;max-height: 100px;">
                                    <p class="card-text text-success" align="left"><i class="fa-solid fa-user"></i>&nbsp;{{product.author}}</p>
                                    <p align="left"><span class="text-success"><i class="fa-solid fa-star"></i>&nbsp;{{ product.get_rating }}/10 [{{ product.reviews.count }}]</span></p> 
                                    <p class="card-text text-success" align="left"><i class="fa-solid fa-globe"></i>&nbsp;{{product.limba}}</p>
                                </a>
                            </div>
                            <div>
                                <a href="{{ product.pdf.url }}" download class="d-flex align-self-start row mb-2" style="text-decoration: none;">
                                    <button class="btn d-flex bg-success align-items-center justify-content-center text-light border-o rounded-4 shadow p-2" style="width: 60px;height: 60px;">
                                        <i class="fa-sharp fa-solid fa-download fa-2xl"></i>
                                    </button>
                                </a>
                                <a href="{% url 'user_wishlist' product.id %}" class="d-flex align-self-end row mt-2" style="text-decoration: none;">
                                    <button class="btn d-flex bg-success align-items-center justify-content-center text-light border-o rounded-4 shadow p-2" style="width: 60px;height: 60px;">
                                        <i class="fa-sharp fa-solid fa-heart fa-2xl"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center bg-success rounded-bottom-4 border-0" style="width: 400px;padding-bottom: 15px;margin-left: -16px;">
                    <a href="{% url 'publisher_detail' product.user.id %}" style="text-decoration: none;color: white;">
                        <p class="card-text" align="left"><i class="fa-solid fa-at"></i>&nbsp;{% firstof product.user.get_full_name product.user.username %}</p>
                    </a>
                </div>
            </div>
    </div>
    {% endfor %}
</div>